@font-face {
    font-family: Helvetica;
    src: url(fonts/Helvetica.ttf);
}
@font-face {
    font-family: Plate;
    src: url(fonts/Plate.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Helvetica", sans-serif;
}
body {
    background-image: url(img/floor-tile.png);
    background-size: 250px;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #e2e8f0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 6px 3px #444 !important;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background-color: #fdd835;
}
.reg4u {
    font-family: Plate;
    font-size: 85px;
    font-weight: 400;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-item {
    height: 100%;

    margin-left: 5rem;
    text-transform: uppercase;
}

.nav-link {
    font-size: 20px;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

.nav-link img {
    margin-right: 5px;
    width: 30px;
}
.nav-link:hover {
    opacity: 1;
}
.create,
.choose {
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 93px;
        flex-direction: column;
        background-color: #f8d038;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.7);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: auto;
        margin-top: 2.5rem;
    }
    .nav-item:last-child {
        margin-bottom: 2.5rem;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

.createCard {
    position: relative;
    width: 37vw;
    aspect-ratio: 800/457;
    overflow: hidden;
    border-radius: 20px;
    font-family: "Inconsolata", monospace;
    font-size: 23px;
    margin: auto;
    box-shadow: 0 0 10px 0 #999;
}
.createCard,
.createCard * {
    touch-action: none;
    user-select: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.createCard > img {
    width: 100%;
    position: absolute;
    border-radius: 5px;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    touch-action: none;
}

.item,
.item * {
    width: min-content;
    position: absolute;
    white-space: nowrap;
    color: white;
}

.item.cardNumber {
    top: 57%;
    left: 33%;
    font-weight: 600;
}

.item.cardDate {
    top: 68%;
    left: 53%;
    font-size: 21px;
    font-weight: 400;
}
.item.cardDate::before {
    content: "VALID THRU";
    white-space: normal;
    position: absolute;
    left: 0;
    top: 2px;
    transform: translateX(-75%);
    font-size: 12px;
    font-weight: 400;
}
.item.cardName {
    left: 7%;
    bottom: 7%;
    font-weight: 600;
}

.item.cardLogo {
    display: flex;
    align-items: flex-end;
    right: 7%;
    bottom: 7%;
    width: 18%;
    aspect-ratio: 3/2;
}
.item.cardLogo img {
    width: 100%;
}

.item:active {
    opacity: 0.75;
}

.item:hover {
    cursor: move;
}

center {
    background: lineer-gradient(#fdd835, rgba(0, 0, 0, 0.479));
    background: linear-gradient(90deg, #e4ba00, #fdd835, #e4ba00);
    padding: 50px 0;
}
center .linkWrapper a {
    display: block;
    text-align: center;
    padding: 14px 18px;
    font-size: 20px;
    background: -webkit-linear-gradient(top, #8f6b29, #fde08d, #df9f28);
    background: linear-gradient(top, #8f6b29, #fde08d, #df9f28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    transition: 0.1s;
}

center h1,
center h2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
    body {
        background-image: none;
    }

    center {
        flex-direction: column;
        padding-bottom: 0;
    }
}

/* SERVICE */

.service {
    display: flex;
    background-color: #fff;
    justify-content: stretch;

    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.service-item {
    width: 100%;
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
}
.service-item:last-child {
    margin-right: 60px;
}
.service-item img {
    width: 60px;
    background: -webkit-linear-gradient(top, #FDD835, #fde08d, #FDD835);
    background: linear-gradient(top, #FDD835, #fde08d, #FDD835);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.service-item .serviceTitle {
    font-size: 17px;
    font-weight: 600;
    margin: 15px auto 10px;
}

@media only screen and (max-width: 768px) {
    .service {
        flex-direction: column;
    }
    .service-item {
        margin: auto;
        max-width: 300px;
        margin-bottom: 50px;
    }
    .service-item:last-child {
        margin: auto;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #111;
    align-items: flex-start;
}
footer p {
    color: whitesmoke;
}
.footer-item {
    width: 100%;
    padding: 50px;
}
.footer-item a{
    color: white;
    display: block;
    margin-bottom: 5px;
}
p.footer-title {
    margin-bottom: 20px;
    font-size: 18px;
    color: white;
}

@media only screen and (max-width: 768px) {
    center {
        padding: 30px 15px;
    }
    footer {
        flex-wrap: wrap;
        padding: 20px 10px;
    }

    .footer-item {
        padding: 7px;
    }
    footer p {
        font-size: 14px;
    }

    .codepen-wrapper {
        transform: scale(1) !important;
    }

    .buy > div {
        padding: 70px 0px !important;
    }
    .choicesCont strong {
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }
    .choicesCont {
        width: 100%;
        padding-left: 70px;
    }
    .choicesCont select {
        margin-bottom: 20px;
    }
}

.codepen-wrapper {
    transform: scale(1.2);
    margin-bottom: 60px;
}

.registration-ui {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.438);

    background: linear-gradient(to bottom, #f8d038 0%, #f5ca2e 100%);
    padding: 0.25em 1em 0.25em 1.75em;
    font-weight: bold;
    font-size: 40px;
    border-radius: 5px;
    position: relative;
    font-family: Plate;
}
.registration-ui > span.emptyC {
    display: inline-block;
    min-width: 24px;
    min-height: 42px;
    border: 1px solid #e4ba00;
}
.registration-ui > span:nth-child(3) {
    margin-right: 15px;
}
.registration-ui:before {
    content: "GB";
    font-family: Helvetica;
    display: block;
    width: 30px;
    height: 100%;
    background: #063298;
    position: absolute;
    top: 0;
    border-radius: 5px 0 0 5px;
    color: #f8d038;
    line-height: 85px;
    padding-left: 5px;
    font-size: 16px;
}

.registration-ui:after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: 1px dashed #f8d038;
}

.buy > div {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 70px;
}

.choicesCont {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 13px;
}

.choicesCont select {
    height: 35px;
    padding: 3px;
    outline-style: none;
}

.linkWrapper {
    border: 1px solid #f8d038;
    background-color: #063298;
    width: min-content;
    margin: auto;
    transition: 0.1s;
    opacity: 0.9;
    margin-top: 30px;
}
.linkWrapper:hover {
    transition: 0.1s;
    opacity: 1;
}
.linkWrapper button {
    display: block;
    text-align: center;
    padding: 14px 18px;
    font-size: 22px;
    background: -webkit-linear-gradient(top, #8f6b29, #fde08d, #df9f28);
    background: linear-gradient(top, #8f6b29, #fde08d, #df9f28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    transition: 0.1s;
    border: none;
    outline: none;
    cursor: pointer;
}

.result {
    height: 1200px;
    transition: 1s;
    overflow: hidden;
}
.result h2 {
    font-family: Plate;
    font-weight: 400;
}

.scaleNone {
    margin-bottom: 0;
    transform: scale(0.75);
    flex-wrap: nowrap;
    width: 225px;
}
.beforeNone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.beforeNone span {
    display: block;
}
.beforeNone::before {
    display: none;
}

.plate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #333;
}
.plateLeft,
.plateRight {
    align-items: center;
    display: flex;
}
.plateLeft p{
    position: relative;
    color: white;
    font-size: 17px;
    padding: 5px 20px;
    background-color: #4caf50;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 10px;
}
.plateLeft p::before{
    font-size: 13px;
    content:"BUY NOW";
    position: absolute;
    left: 0;
    right: 0;
    top: -17px;
}
.plateRight {
    color: white;
    font-size: 17px;
    padding: 5px 15px;
    background-color: #4caf50;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}
.plateRight:hover {
    background-color: #3f9442;
    transition: 0.1s;
}
.plateRight p {
    margin-right: 10px;
}
.plates {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 768px) {
    .plateLeft,
   
    .plate {
        flex-direction: column;
    }
    .plateRight{
        align-items: center;
        justify-content: center;
    }
    .plateLeft p{
        margin: 10px 0 3px;
        margin-left: 0px;
width: 50%;
    }
    .plateLeft p::before{
        content: none;
    }
    .plateRight{
        width: 50%;
    }
    .result {
        height: 1880px;
    }
}

.material-icons{
    background: -webkit-linear-gradient(left, #df9f28, #FDD835, #df9f28);
    background: linear-gradient(left, #df9f28, #FDD835, #df9f28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-item .material-icons{
    font-size: 55px;
   
}

.sell{  
    padding-bottom: 0;
    background: none;
    background-color: #eeeeee !important;
}
.sell img{
 
    max-width: 100%;
    margin-bottom: -8%;
}

.sellFormWrapper{
    padding:15vw 10% 110px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 3px 0 rgb(0 0 0 / 40%);
}
.sellFormWrapper form{
    padding: 30px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

#formPlate{
    background-color: #fdd835;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 3px 0 rgb(0 0 0 / 40%);
    border: none;
    outline: none;
    font-family: Plate;
    font-size: 4vw;
    margin-bottom: 45px;
    padding: 3vw 4vw;
    width: 90%;
    max-width: 600px;
    text-align: center;
    border-radius: 15px;
}

.group {
    position: relative;
    width: 100%;
    max-width: 600px;
}
.groups{
 justify-content: center;
    margin-bottom: 30px;
    width: 90%;
    display: flex;
    align-items: center;
    max-width: 500px;
}
.groups .material-icons{
font-size: 40px;
margin-right: 10px;
}
.group input {
    font-weight: 400;

    font-size: 18px;
    padding: 12px;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #fdd835;
}
.group input:focus {
    padding: 11px;
    outline: none;
    border: 2px solid #df9f28;
}

/* LABEL ======================================= */
.group label {
    color: #df9f28;
    opacity: .9;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.group input:focus ~ label,
.group input:valid ~ label {
    opacity: 1;
    padding: 0 4px;
    top: -8px;
    font-size: 14px;
    color: #df9f28;
    background-color: #fff;
}
.sellFormWrapper button{
    width: 50%;
    min-width: 250px;
    padding: 10px 20px;
    background: -webkit-linear-gradient(left, #df9f28, #FDD835, #df9f28);
    background: linear-gradient(left, #df9f28, #FDD835, #df9f28);
    border: 1px solid #df9f28;
    outline:none;
    font-size: 18px;
    color: #333;
    opacity: .9;
    transition: .1s;
    cursor: pointer;
    border-radius: 3px;
}
.sellFormWrapper button:hover{
    transition: .1s;
    opacity: 1;
}
@media only screen and (max-width: 768px) {
  
    .groups .material-icons{
        font-size: 30px;
        margin-right: 10px;
        }
.sell{
    padding-left: 0;
    padding-right: 0;
}
.sellFormWrapper{
    padding:80px 10%;

}
.sellFormWrapper form{
    padding: 40px 7px;
}
.groups{
    margin-bottom: 15px;

}
.groups *{
    font-size: 15px !important;
}
#formPlate{
    margin-bottom: 30px;
}

.sellFormWrapper button{
    font-size: 16px;
}
}
.featured{
border-bottom: 3px solid #ccc;
}
.featured center{
background: none;
background-color: #fff;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.featuredText, .featuredText .material-icons{
    cursor: pointer;
    font-size: 20px;
    background: none;
    color: #df9f28;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #df9f28;
}
.featuredText{
    transition: .3s;
    position: relative;
}
.featuredText:hover{
    transition: .3s;
   margin-left: 10px;
}
.featuredText .material-icons{
    font-size: 22px;
    margin-left: 4px;
}
.featuredPlates{
min-width: 570px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.featuredPlate{
    margin-top: 30px !important;
    background-color: #fdd835;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 3px 0 rgb(0 0 0 / 40%);
    border: none;
    outline: none;
    font-family: Plate;
    font-size: 35px;
    margin: 10px;
    padding: 20px 50px;
    text-align: center;
    border-radius: 15px;
   
white-space: nowrap;
}

.featuredWrapper{
    width: 50%;
margin-bottom: 30px;
}

.refresh{
    width: 100%;
    
}
.refresh span{
    font-size: 40px;
    background: none;
    background-color: #ddd !important;
    -webkit-text-fill-color: #333;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.refresh span:hover{
    transition: .2s;
    transform: scale(1.03);

}

.rotate{
    transition: .5s;
transform-origin: center;
    transform: rotate(-180deg);
}
.simulate{
    position: relative;
}
.simulate p{
    position: absolute;
    left: 0;
    right: 0;
    width: min-content;
    bottom: 30%;
    margin: auto;
}
.simulate img{
    width: 100%;
}

.fp5{
    background-color: #fff;
    padding: .5vw 1.3vw;
    font-size: 1vw;

    border-radius: 7px;
}

@media only screen and (max-width: 768px) {
  .d-flex{
      flex-direction: column-reverse;
  }
  .simulate{
      margin-bottom: 20px;
  }
.refresh{
    width: 90vw;
}
.refresh span{
    font-size: 30px;
}
    .featuredWrapper{
        width: 50%;
    margin-bottom: 10px;
    
    }
    .featuredPlate{
        font-size: 16px;
        margin-top: 15px !important;
        padding: 20px 0;
    }
.simulate,.featuredPlates{
    width: 100%;
    min-width: 0px;
}
.featuredText .material-icons {
    margin: 0;
    transform: rotate(-90deg);
}
.featuredText{
    
    flex-direction: row !important;

}
.fp5{
    padding: 4px 11px;
}
}